
{% extends '../home/home_base.html' %}  
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">{% translate "Login" %}</h2>
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {% translate "Your username and password didn't match. Please try again." %}
                        </div>
                    {% endif %}
                    {% if next %}
                        {% if user.is_authenticated %}
                            <div class="alert alert-warning">
                                {% translate "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}
                            </div>
                        {% else %}
                            <div class="alert alert-info">
                                {% translate "Please login to see this page." %}
                            </div>
                        {% endif %}
                    {% endif %}
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username|add_class:"form-control" }}
                        </div>
                        <div class="form-group mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password|add_class:"form-control" }}
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-block">{% translate "Log In" %}</button>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <p><a href="{% url 'password_reset' %}">{% translate "Lost password?" %}</a></p>
            </div>
            <div class="text-center mt-3">
                <p>{% translate "or" %} <a href="{% url 'user_registration' %}">{% translate "Register" %}</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}