{% extends 'base2.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">{% translate "Reset Password" %}</h2>
                    <p class="text-center">{% translate "Enter your email address below and we'll send you a link to reset your password." %}</p>
                    <form method="post" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email|add_class:"form-control" }}
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary btn-block">{% translate "Send Reset Link" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Spinner Modal -->
<div class="modal fade" id="spinnerModal" tabindex="-1" aria-labelledby="spinnerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: transparent; border: none; box-shadow: none;">
            <div class="modal-body d-flex justify-content-center align-items-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">{% translate "Loading..." %}</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form');
    const submitButton = form.querySelector('button[type="submit"]');

    form.addEventListener('submit', function(event) {
        // Show the modal spinner
        const spinnerModal = new bootstrap.Modal(document.getElementById('spinnerModal'));
        spinnerModal.show();

        // Disable the submit button to prevent multiple clicks
        submitButton.disabled = true;

        // Optionally, change the button text to indicate loading
        submitButton.innerHTML = '{% translate "Sending..." %}';
    });
});
</script>
{% endblock extra_script %}
