{% extends 'base2.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">{% translate "Set New Password" %}</h2>
                    {% if validlink %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                {{ form.new_password1.label_tag }}
                                {{ form.new_password1|add_class:"form-control" }}
                            </div>
                            <div class="form-group mb-3">
                                {{ form.new_password2.label_tag }}
                                {{ form.new_password2|add_class:"form-control" }}
                                <small class="form-text text-muted">{% translate "Enter the same password as before, for verification." %}</small>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary btn-block">{% translate "Set New Password" %}</button>
                            </div>
                        </form>
                    {% else %}
                        <p class="text-center text-danger">{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
