{% extends 'base2.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Password Reset Complete</h2>
                    <p class="text-center">
                        Your password has been set successfully. You can now proceed to <a href="{% url 'login' %}">log in</a> with your new password.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
