{% extends './web_base.html' %}

{% load static %}

{% block extra_css %} 
<style>
    .profile-image-container {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-image {
        width: auto;
        height: 100%;
    }

    .round-corners {
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 767px) {
        /* For mobile devices */
        .col-mobile-12 {
            width: 100%;
        }
    }

    @media (min-width: 768px) {
        /* For desktop and larger devices */
        .col-desktop-4 {
            width: 33.33333%;
        }
    }
</style>
{% endblock extra_css %}

{% block content %}
<div class="container mx-auto p-4">
    
    <div class="row"> 
        <div class="col-md-3 p-1 round-corners"> <!-- Half width on medium screens and above -->
            <div class="bg-white shadow-lg rounded-lg p-2 text-center">
                <div class="profile-image-container">
                    <img src="{{ custom_user.profile_image.url|default:'/media/user_profile/placeholder.jpg' }}" alt="Profile Picture" class="profile-image">            
                </div>
            </div>
        </div>
        <div class="col-md-9 p-2"> <!-- Half width on medium screens and above -->
            <div class="bg-white shadow-lg rounded-lg p-4 section-header section-header-font-color round-corners">
                <h2 class="text-lg font-bold text-center">{{custom_user.user.first_name | capfirst }} {{custom_user.user.last_name | capfirst }}</h2>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-4 section-header section-header-font-color round-corners">
                <p class="text-zinc-700">{{ custom_user.presentation}}</p>
            </div>
            <div class="bg-white shadow-lg rounded-lg p-4 round-corners">
                <div class="col text-center">
                    <img src="{% static 'img/tiktok-icon.png' %}" alt="TikTok" class="social-icon mx-2">
                    <img src="{% static 'img/instagram-icon.png' %}" alt="Instagram" class="social-icon mx-2">
                    <img src="{% static 'img/youtube-icon.png' %}" alt="YouTube" class="social-icon mx-2">
                    <img src="{% static 'img/facebook-icon.png' %}" alt="Facebook" class="social-icon mx-2">
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center p-2 round-corners">
        <div class="bg-white shadow-lg rounded-lg p-4 section-header section-header-font-color round-corners">
            <h2 class="text-lg font-bold text-center">Experience</h2>
            <p class="text-zinc-700">{{custom_user.experience}}</p>
        </div>
    </div>

    <div class="row justify-content-center p-2 round-corners">
        <div class="bg-white shadow-lg rounded-lg p-4 section-header section-header-font-color round-corners">
            <h2 class="text-lg font-bold text-center">My Work</h2>
            <div class="row photo-row"> 
                {% for image in custom_user.photos.all|slice:":6" %}
                    <div class="col-12 col-md-4 mb-3">
                        <img src="{{ image.image.url|default:'/media/user_profiles/placeholder.jpg' }}" alt="Work 1" class="img-fluid rounded mx-auto d-block m-2 photo-thumbnail">
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary" id="load-more">Load More</button>
        </div>
    </div>
</div>

<!-- Bootstrap Modal for Image Viewing -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img id="modal-image" src="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extra_script %}
<script>
    {% if event.photos.all.count < 7 %}
        $('#load-more').hide();
    {% endif %}

    var currentCount = 6;
    $('#load-more').click(function() {
        $.ajax({
          url: "{% url 'load_more_custom_user_images' custom_user.id %}?count=" + currentCount,
          type: 'GET',
          success: function(response) {
            if (response.data.length > 0) {
              response.data.forEach(function(image) {
                $('.photo-row').append(
                  '<div class="col-12 col-md-4"><img src="' + image.url + '" class="rounded-lg w-100"></div>'
                );
              });
              currentCount += response.data.length;
              if (response.data.length < 6){
                $('#load-more').hide(); // Hide button if no more images are available
              }
            } else {
              $('#load-more').hide(); // Hide button if no more images are available
            }
          },
          error: function() {
            alert('Server error, please try again later.');
          }
        });
      });

      $(document).ready(function() {
        $(document).on('click', '.photo-thumbnail', function() {
            var src = $(this).attr('src'); // Get the source from the clicked image
            $('#modal-image').attr('src', src); // Set the source in the modal image
            $('#imageModal').modal('show'); // Display the modal
        });
    });

</script>
{% endblock extra_script %}
