{% extends 'base2.html' %}
{% load i18n %}
{% block extra_css %}
{% endblock extra_css%}

{% block content %}
<nav aria-label="breadcrumb" class="mobile-margin-top">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">{% translate "Businesses" %}</li>
    </ol>
</nav>
<div class="rc-card">
    <h1>{% translate "Businesses" %}</h1>
    <div class="rc-cards-container">
        {% if accounts %}
            {% for account in accounts %}
            <div class="rc-resource-card">
                <div class="rc-card-content">
                <h2>{{account.name}}</h2>
                <p>{{account.description}}</p>
                <a href="{% url 'view_business' account.id %}" class="rc-card-link">{% translate "View" %} →</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info" role="alert">
                {% translate "You don't have any business, create a new one." %}
            </div>
            <a href="{% url 'add_business' %}" class="btn btn-primary">{% translate "Create Business" %}</a>
        {% endif %}
    </div>
    <div class="mt-3" style="text-align: right;">
        <a href="{% url 'add_business'%}" class="btn btn-outline-primary" style="border-color: #3182CE; color: #3182CE;">{% translate "Add Business" %}</a>
    </div>

    {% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% translate "first" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% translate "previous" %}</a>
        {% endif %}
        
        <span class="page-current">
            {% translate "Page" %} {{ page_obj.number }} {% translate "of" %} {{ page_obj.paginator.num_pages }}.
        </span>
        
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% translate "next" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% translate "last" %} &raquo;</a>
        {% endif %}
        </span>
    </div>
    {% endif %}
</div>
{% endblock content %}
