{% extends 'base2.html' %}
{% load i18n %}

{% block content %}
<nav aria-label="breadcrumb" class="mobile-margin-top">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% translate "Dashboard" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% translate "Create Appointment" %}</li>
    </ol>
</nav>

<h1>{% translate "Add Appointment" %}</h1>

{% if accounts %}
    <h3>{% translate "Select the business where you want to add the appointment" %}</h3>

    <div class="mb-3">
        <select class="form-select" id="select_business_dropdown">
            {% for account in accounts %}
                <option value="{% url 'appointment_wizard' account.handler %}">{{account.name}}</option>
            {% endfor %}
        </select>
    </div>

    <button id="appointmentButton" class="btn btn-primary">{% translate "Select" %}</button>
{% else %}
    <div class="alert alert-info" role="alert">
        {% translate "You need to create a business before you can schedule time." %}
    </div>
{% endif %}

{% endblock content %}

{% block extra_script %}

<script>
    $(document).ready(function(){
        $('#appointmentButton').click(function(){
            var url = $('#select_business_dropdown').val();
            window.location.href = url
        });
    });
</script>

{% endblock extra_script %}
