{% extends 'base2.html' %}

{% block extra_css %}
<style>
    /* This ensures buttons stay within the card */
    .card-footer > .row > .col, .card-footer > .row > .col-12 {
        padding: 0; /* Remove padding to allow buttons to fit */
    }
    /* Style for the toggle switch label */
    .toggle-label {
        margin-bottom: 0; /* Remove bottom margin from label */
        padding-top: 0.375rem; /* Align with the toggle switch */
    }
    .card-footer .btn, .card-footer .form-switch {
        margin-top: 10px; /* Add space between buttons when stacked */
    }
    .clickable-row {
      cursor: pointer;
    }
    .clickable-row:hover {
        background-color: #f0f0f0;
    }
</style>
{% endblock extra_css %}

{% block content %}
<nav aria-label="breadcrumb" class="mobile-margin-top">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Events</li>
    </ol>
</nav>
<div class="rc-card">
    <h1>Events</h1>
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-6">
                <select id="business-filter" class="form-select" style="height: 50px; font-size: 1.25rem;">
                    {% if businesses|length > 1 %}
                        <option value="All">All</option>
                    {% endif %}
                    {% for business in businesses %}
                        <option value="{{ business.id }}">{{ business.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="events-container">
            {% for event in events %}
            <div class="col event-card" data-business-id="{{ event.account.id }}" data-event-id="{{ event.id }}">
                <div class="card h-100 mx-auto" style="border-radius: .75rem; box-shadow: 0 4px 8px rgba(0, 0, 0, .1);">
                    <div class="card-body" style="padding: 1.5rem; background: linear-gradient(to bottom right, #81E6D9, #C6F6D5);">
                        <h5 class="card-title mb-2" style="font-size: 1.25rem; font-weight: 600; color: #4A5568;">{{ event.name }}</h5>
                        <p class="card-text mb-2" style="color: #718096;">{{ event.account.name }}</p>
                        <p class="card-text mb-2" style="color: #718096;">{{ event.duration }} mins</p>
                        {% if user.customuser in event.account.admins.all %}
                            <a href="{% url 'event_detail' event.id %}" class="mb-4 text-primary" style="color: #3182CE;">View event page</a>
                        {% endif %}
                    </div>
                    <div class="card-footer" style="border-top: 1px solid #E2E8F0; background-color: transparent;">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <a href="#" class="btn btn-outline-primary w-100 share-btn" data-bs-toggle="tooltip"
                                    data-appointment-url="{{domain}}{% url 'client_appointment_for_event' event.account.id event.id %}" 
                                    data-appointment-worker-url="{{domain}}{% url 'client_appointment_for_event_worker' event.account.id event.id current_user.id %}">
                                    Share
                                </a>
                            </div>
                            <div class="col-7">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="toggleEvent{{ forloop.counter }}" {% if event.active %}checked{% endif %}
                                             {% if user.customuser not in event.account.admins.all %}disabled{% endif %}>
                                    <label class="form-check-label toggle-label" for="toggleEvent{{ forloop.counter }}" style="color: #4299E1;"
                                            {% if user.customuser not in event.account.admins.all %}style="opacity: 0.5;"{% endif %}>
                                        {% if not event.active %}
                                            Turn On
                                        {% else %}
                                            Turn Off
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Share Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareEventName" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareEventName"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr class="share-option clickable-row" style="text-align: center;" data-option="share-event">
                <td>Share event</td>
              </tr>
              <tr class="share-option clickable-row" style="text-align: center;" data-option="share-as-worker">
                <td>Share with me as worker</td>
              </tr>
              <tr class="share-option clickable-row" style="text-align: center;" data-option="cancel">
                <td>Cancel</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extra_script %}
<script>
$(document).ready(function(){

    // Click event for 'Share' button
    $('.share-btn').click(function() {
        var appointmentUrl = $(this).data('appointment-url');
        var appointmentWorkerUrl = $(this).data('appointment-worker-url');
        console.log("appointmentUrl: " + appointmentUrl)
        console.log("appointmentWorkerUrl: " + appointmentWorkerUrl)
        var eventName = $(this).closest('.event-card').find('.card-title').text();
        $('#shareEventName').text(eventName);  // Set the event name in the modal
        $('#shareModal')
            .data('appointment-url', appointmentUrl)
            .data('appointment-worker-url', appointmentWorkerUrl)
            .modal('show');  // Store event ID and business ID and show the modal
    });

        // Click events for modal options
    $('.share-option').click(function() {
        var option = $(this).data('option');
        var appointmentUrl = $('#shareModal').data('appointment-url');
        var appointmentWorkerUrl = $('#shareModal').data('appointment-worker-url');
        var button = $(this).closest('.modal-content').find('.share-btn'); 

        // Handle each option click
        var fullUrl = '';
        if(option === 'share-event') {
            fullUrl = appointmentUrl;
        } else if(option === 'share-as-worker') {
            fullUrl = appointmentWorkerUrl;
        } else if(option === 'cancel') {
            $('#shareModal').modal('hide');
        }

        if (fullUrl) {
            // Copy the URL to clipboard
            navigator.clipboard.writeText(fullUrl).then(function() {
                button.attr('title', 'URL copied to clipboard!').tooltip('show');

                // Set timeout to hide tooltip after 2 seconds
                setTimeout(function() {
                    button.tooltip('hide');
                }, 4000);

            }).catch(function(err) {
                button.attr('title', 'Failed to copy URL.').tooltip('show');

                // Set timeout to hide tooltip after 4 seconds
                setTimeout(function() {
                    button.tooltip('hide');
                }, 4000);
                console.error('Could not copy text: ', err);
            });
        }        

        // Close the modal after selection
        $('#shareModal').modal('hide');
    });

    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });

    $('#business-filter').change(function(){
        var selectedBusinessId = $(this).val();
        $('.event-card').each(function(){
            if(selectedBusinessId === 'All' || $(this).data('business-id').toString() === selectedBusinessId){
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

    $('.form-check-input').change(function() {
        var label = $(this).next('label');
        if ($(this).is(':checked')) {
            label.text('Turn Off'); // If the checkbox is checked, set label to "Turn Off"
        } else {
            label.text('Turn On'); // If the checkbox is not checked, set label to "Turn On"
        }

        var checkbox = $(this);
        var eventId = checkbox.closest('.event-card').data('event-id'); // Ensure each card has a data-event-id attribute
        var isActive = checkbox.is(':checked');

        // Using jQuery's $.post method to send the POST request
        $.post({
            url: "{% url 'toggle_event_active' %}",
            data: {
                'event_id': eventId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                checkbox.next('label').text(response.event_active ? 'Turn Off' : 'Turn On');
                console.log('Event status updated successfully.');
            },
            error: function(xhr, errmsg, err) {
                console.error('Error updating event status: ' + errmsg);
                checkbox.prop('checked', !isActive); // revert the checkbox if there was an error
            }
        });
    });
});
</script>
{% endblock extra_script %}
