{% extends 'base2.html' %}

{% block extra_css %}
<style>
    /* This ensures buttons stay within the card */
    .card-footer > .row > .col, .card-footer > .row > .col-12 {
        padding: 0; /* Remove padding to allow buttons to fit */
    }
    /* Style for the toggle switch label */
    .toggle-label {
        margin-bottom: 0; /* Remove bottom margin from label */
        padding-top: 0.375rem; /* Align with the toggle switch */
    }
    .card-footer .btn, .card-footer .form-switch {
        margin-top: 10px; /* Add space between buttons when stacked */
    }
</style>
{% endblock extra_css %}

{% block content %}

<div class="rc-card">
    <h1>Events</h1>
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-6">
                <select id="business-filter" class="form-select" style="height: 50px; font-size: 1.25rem;">
                    {% if businesses|length > 1 %}
                        <option value="All">All</option>
                    {% endif %}
                    {% for business in businesses %}
                        <option value="{{ business.id }}">{{ business.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="events-container">
            {% for event in events %}
            <div class="col event-card" data-business-id="{{ event.account.id }}">
                <div class="card h-100 mx-auto" style="border-radius: .75rem; box-shadow: 0 4px 8px rgba(0, 0, 0, .1);">
                    <div class="card-body" style="padding: 1.5rem; background: linear-gradient(to bottom right, #81E6D9, #C6F6D5);">
                        <h5 class="card-title mb-2" style="font-size: 1.25rem; font-weight: 600; color: #4A5568;">{{ event.name }}</h5>
                        <p class="card-text mb-2" style="color: #718096;">{{ event.duration }} mins</p>
                        <a href="{% url 'event_detail' event.id %}" class="mb-4 text-primary" style="color: #3182CE;">View event page</a>
                    </div>
                    <div class="card-footer" style="border-top: 1px solid #E2E8F0; background-color: transparent;">
                        <div class="row align-items-center">
                            <div class="col-5">
                                <a href="#" class="btn btn-outline-primary w-100">Share</a>
                            </div>
                            <div class="col-7">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="toggleEvent{{ forloop.counter }}">
                                    <label class="form-check-label toggle-label" for="toggleEvent{{ forloop.counter }}" style="color: #4299E1;">
                                        {% if not event.active %}
                                            Turn On
                                        {% else %}
                                            Turn Off
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_script %}
<script>
$(document).ready(function(){
    $('#business-filter').change(function(){
        var selectedBusinessId = $(this).val();
        $('.event-card').each(function(){
            if(selectedBusinessId === 'All' || $(this).data('business-id').toString() === selectedBusinessId){
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

    $('.form-check-input').change(function() {
        var label = $(this).next('label');
        if ($(this).is(':checked')) {
            label.text('Turn Off'); // If the checkbox is checked, set label to "Turn Off"
        } else {
            label.text('Turn On'); // If the checkbox is not checked, set label to "Turn On"
        }
    });
});
</script>
{% endblock extra_script %}
