{% extends 'base2.html' %}

{% block extra_css %}
<style>
    .booking-card {
      width: 385px;
      height: 245px;
      margin-bottom: 1rem; /* Space between cards when wrapped */
      border: 1px solid rgba(0,0,0,.125);
      box-shadow: 0 2px 4px rgba(0,0,0,.05);
    }
    .card-body {
      padding: 1rem;
    }
    .card-header,
    .card-footer {
      padding: 0.5rem 1rem;
      background: none;
      border: none;
    }
    .settings-icon {
      float: right;
      font-size: 1.25rem;
    }
    .toggle-btn {
      float: right;
    }
    /* Responsive grid layout */
    @media (max-width: 1200px) {
      .booking-card {
        width: 100%;
        max-width: 385px;
        height: auto;
      }
    }
  </style>
{% endblock extra_css %}
{% block content %}
    <h1>{{worker.user.first_name}} {{worker.user.last_name}}</h1>

    <div class="rc-card">
        <h2>Events</h2>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="events-container">
                {% for event in events %}
                <div class="col event-card" data-business-id="{{ event.account.id }}" data-event-id="{{ event.id }}">
                    <div class="card h-100 mx-auto" style="border-radius: .75rem; box-shadow: 0 4px 8px rgba(0, 0, 0, .1);">
                        <div class="card-body" style="padding: 1.5rem; background: linear-gradient(to bottom right, #81E6D9, #C6F6D5);">
                            <h5 class="card-title mb-2" style="font-size: 1.25rem; font-weight: 600; color: #4A5568;">{{ event.name }}</h5>
                            <p class="card-text mb-2" style="color: #718096;">{{ event.duration }} mins</p>
                            <a href="{% url 'event_detail' event.id %}" class="mb-4 text-primary" style="color: #3182CE;">View event page</a>
                        </div>
                        <div class="card-footer" style="border-top: 1px solid #E2E8F0; background-color: transparent;">
                            <div class="row align-items-center">
                                <div class="col-5">
                                    <a href="#" class="btn btn-outline-primary w-100 share-btn" data-bs-toggle="tooltip"
                                        data-appointment-url="{{domain}}{% url 'client_appointment_for_event' event.account.id event.id %}" 
                                        data-appointment-worker-url="{{domain}}{% url 'client_appointment_for_event_worker' event.account.id event.id current_user.id %}">
                                        Share
                                    </a>
                                </div>
                                <div class="col-7">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="toggleEvent{{ forloop.counter }}" {% if event.active %}checked{% endif %}>
                                        <label class="form-check-label toggle-label" for="toggleEvent{{ forloop.counter }}" style="color: #4299E1;">
                                            {% if not event.active %}
                                                Turn On
                                            {% else %}
                                                Turn Off
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="rc-card">
        <h1>Worker Appointments</h1>
        <div class="accordion" id="userAppointments">
            {% for date, appt_list in appointments.items %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ date|date:'d-m-y' }}-{{ forloop.counter }}" aria-expanded="true" aria-controls="{{ date|date:'d-m-y' }}-{{ forloop.counter }}">
                        {{ date }}
                    </button>
                </h2>
                <div id="{{ date|date:'d-m-y' }}-{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.counter == 1 %} show {% endif %}" data-bs-parent="#userAppointments">
                    <div class="accordion-body">
                        {% for appt in appt_list %}
                            <div class="d-flex justify-content-between align-items-center border-bottom pb-2 pt-2">
                                <span>{{ appt.time }} - {{ appt.event.name }}</span>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"></path>
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                        <li><a class="dropdown-item" href="{% url 'appointment_cancel' appt.id %}">Cancel Appointment</a></li>
                                        <li><a class="dropdown-item" href="{% url 'appointment_detail' appt.id %}">View Details</a></li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if show_remove_button %}
        <button id="removeButton" class="btn btn-danger mt-3" >Remove Worker</button>
    {% endif %}

<!-- Share Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareEventName" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareEventName"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table">
            <tbody>
              <tr class="share-option clickable-row" style="text-align: center;" data-option="share-event">
                <td>Share event</td>
              </tr>
              <tr class="share-option clickable-row" style="text-align: center;" data-option="share-as-worker">
                <td>Share with me as worker</td>
              </tr>
              <tr class="share-option clickable-row" style="text-align: center;" data-option="cancel">
                <td>Cancel</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_script %}

<script>
    $(document).ready(function() {
        $('#removeButton').click(function() {
            $.post('{% url "worker_remove" account_id worker.id %}', {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                test: 'This is a test'
            }, function(response) {
                alert(response.message);
                if(response.status === 'success') {
                    $('#removeButton').prop('disabled', true);
                    $('#appointmentStatus').text('Status: CANCELLED');
                }
            });
        });
        // Click event for 'Share' button
        $('.share-btn').click(function() {
            var appointmentUrl = $(this).data('appointment-url');
            var appointmentWorkerUrl = $(this).data('appointment-worker-url');
            console.log("appointmentUrl: " + appointmentUrl)
            console.log("appointmentWorkerUrl: " + appointmentWorkerUrl)
            var eventName = $(this).closest('.event-card').find('.card-title').text();
            $('#shareEventName').text(eventName);  // Set the event name in the modal
            $('#shareModal')
                .data('appointment-url', appointmentUrl)
                .data('appointment-worker-url', appointmentWorkerUrl)
                .modal('show');  // Store event ID and business ID and show the modal
        });

            // Click events for modal options
        $('.share-option').click(function() {
            var option = $(this).data('option');
            var appointmentUrl = $('#shareModal').data('appointment-url');
            var appointmentWorkerUrl = $('#shareModal').data('appointment-worker-url');
            var button = $(this).closest('.modal-content').find('.share-btn'); 

            // Handle each option click
            var fullUrl = '';
            if(option === 'share-event') {
                fullUrl = appointmentUrl;
            } else if(option === 'share-as-worker') {
                fullUrl = appointmentWorkerUrl;
            } else if(option === 'cancel') {
                $('#shareModal').modal('hide');
            }

            if (fullUrl) {
                // Copy the URL to clipboard
                navigator.clipboard.writeText(fullUrl).then(function() {
                    button.attr('title', 'URL copied to clipboard!').tooltip('show');

                    // Set timeout to hide tooltip after 2 seconds
                    setTimeout(function() {
                        button.tooltip('hide');
                    }, 4000);

                }).catch(function(err) {
                    button.attr('title', 'Failed to copy URL.').tooltip('show');

                    // Set timeout to hide tooltip after 4 seconds
                    setTimeout(function() {
                        button.tooltip('hide');
                    }, 4000);
                    console.error('Could not copy text: ', err);
                });
            }        

            // Close the modal after selection
            $('#shareModal').modal('hide');
        });

        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });

        $('#business-filter').change(function(){
            var selectedBusinessId = $(this).val();
            $('.event-card').each(function(){
                if(selectedBusinessId === 'All' || $(this).data('business-id').toString() === selectedBusinessId){
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        $('.form-check-input').change(function() {
            var label = $(this).next('label');
            if ($(this).is(':checked')) {
                label.text('Turn Off'); // If the checkbox is checked, set label to "Turn Off"
            } else {
                label.text('Turn On'); // If the checkbox is not checked, set label to "Turn On"
            }

            var checkbox = $(this);
            var eventId = checkbox.closest('.event-card').data('event-id'); // Ensure each card has a data-event-id attribute
            var isActive = checkbox.is(':checked');

            // Using jQuery's $.post method to send the POST request
            $.post({
                url: "{% url 'toggle_event_active' %}",
                data: {
                    'event_id': eventId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    checkbox.next('label').text(response.event_active ? 'Turn Off' : 'Turn On');
                    console.log('Event status updated successfully.');
                },
                error: function(xhr, errmsg, err) {
                    console.error('Error updating event status: ' + errmsg);
                    checkbox.prop('checked', !isActive); // revert the checkbox if there was an error
                }
            });
        });
    });
</script>
{% endblock extra_script %}