{% extends 'appointments/base.html' %}
{% load static %}

{% block side_text %}
    <div class="booking-cta">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>
{% endblock side_text %}

{% block steps %}
    <!-- Last Step START -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="tab-pane fade show active text-center" id="pills-done" role="tabpanel" aria-labelledby="pills-done-tab">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="text-success">Your Appointment is Confirmed!</h1>
                            <h3 class="text-muted">Appointment Details</h3>
                            <p class="text-muted">
                                Your appointment <strong>{{ event.name }}</strong> at <strong>{{ event.account.name }}</strong> with 
                                <strong>{{ appointment.worker.user.first_name }} {{ appointment.worker.user.last_name }}</strong>
                                is on <strong>{{ appointment.date }}</strong> at <strong>{{ appointment.time }}</strong>.
                            </p>
                            <p>You will receive a confirmation email at <strong>{{ invitee.email }}</strong></p>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h4 class="text-muted d-inline">Booking ID:</h4>
                        <h2 class="d-inline ms-2">#{{ appointment.id }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Last Step END -->
{% endblock steps %}


{% block buttons %}
{% endblock buttons %}
