{% extends base_template %}
{% load custom_filters %}
{% load i18n %}

{% block side_text %}
    <div class="booking-cta">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <p style="font-size:14px;font-style:italic;">{{notes|linebreaksbr}}</p>
    </div>
{% endblock side_text %} 

{% block steps %}
{% include 'common/show_errors.html' %} 

<input type="hidden" id="available_booking_months" value="2" />
<input type="hidden" id="disable_weekend" value="False" />

<!-- steps START -->
<div class="tab-pane fade show active" id="pills-date" role="tabpanel" aria-labelledby="pills-date-tab">
    <h1 class="h2">{{booking_page_heading}}</h1>
    <p class="">{{booking_page_subheading}}</p>
    <hr>
    {{ wizard.management_form }}    
    <div class="row">     
        {% for field in wizard.form %}
            <div class="col-md-8 mb-3">
                {% if field|widget_type == "radioselect" %}
                <div style="background-color:white;padding:10px;border-radius:5px;color:#212529a6">
                    <label>{{ field.label }}</label>
                    {% for subfield in field %}
                        <div class="form-check">
                            {{ subfield.tag }}
                            <label class="form-check-label" for="{{ subfield.id_for_label }}">{{ subfield.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
                {% elif field|widget_type == "checkboxselectmultiple" %}
                <div style="background-color:white;padding:10px;border-radius:5px;color:#212529a6">
                    <label>{{ field.label }}</label>
                    {% for subfield in field %}
                        <div class="form-check">
                            {{ subfield.tag }}
                            <label class="form-check-label" for="{{ subfield.id_for_label }}">{{ subfield.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
                {% else %}              
                    <div class="form-floating {% if field.is_hidden %}d-none{% endif %}">
                        {{ field }}
                        <label for="{{field.id_for_label}}">{{ field.label }}</label>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        {% if wizard.steps.current == "DateTime" %}
            <div id="time-list" class="container row g-2">
            {% if not get_available_time %}
                <div class="alert alert-warning" role="alert">
                    {% translate "No available time slots for the selected date. Please choose another date." %}
                </div>
            {% else %}
                <!-- Time List START -->                
                    {% for item in get_available_time %}
                        <p class="border mx-1 col-2 py-3 text-center bg-{% if item.is_taken %}secondary {% elif item.time == field.value %}primary text-white {% else%}light {% endif %}">{{item.time}}</p>
                    {% endfor %}                
                <!-- Time List End -->
            {% endif %}
            </div>
        {% endif %}
    </div>
</div>


{% endblock steps %}

{% block extra_script %}
{{ block.super }} 
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    // time functions START
    document.querySelectorAll("#time-list .bg-light, #time-list .bg-primary").forEach(timeBtn => {
        timeBtn.addEventListener("click", timeBtnClicked.bind(this, timeBtn))
    })

    function timeBtnClicked(item) {
        console.log('-------------------> In timeBtnClick')
        document.querySelectorAll("#time-list .bg-primary").forEach(item => {
            item.classList.remove("bg-primary", "text-white")
            item.classList.add("bg-light")
        })
        item.classList.remove("bg-light")
        item.classList.add("bg-primary", "text-white")
        document.querySelector("#id_DateTime-time").value = item.innerHTML
        $('#next-step').prop('disabled', false)
    }
    // time functions END

    // Date Functions START
    var d = new Date();
    d.setMonth(d.getMonth() + document.querySelector("#available_booking_months").value);

    const disable_weekend = document.querySelector("#disable_weekend").value;
    function rmWeekend(date) {
        if (disable_weekend == "False") return ""
        return (date.getDay() === 0 || date.getDay() === 6);
    }

    flatpickr("#id_DateTime-date", {
            minDate: "today",
            maxDate: d,
            disable: [rmWeekend],
            shorthand: true,
            defaultDate: new Date(),
            "locale": {
                "firstDayOfWeek": 1 // start week on Monday
            }
        })
        // Date Functions END
        $( "#id_DateTime-date" ).change(function() {
            console.log( "Handler for .change() called." );
            data = { event_id: "{{event_id}}", worker_id: "{{worker_id}}", business_id: "{{business_id}}", date: this.value } 
            $.get( "{% url 'get_available_time' %}", data, function( data ) {
                console.log('------------------')
                console.log(data)
                console.log('------------------')
                console.log('------------------data.length: ' + data.length)
                time_slots_html = ''
                if (data.length > 0){
                    data.forEach((item) => {                    
                        time_slots_html += '<p class="border mx-1 col-2 py-3 text-center bg-'
                        if (item.is_taken){
                            time_slots_html += 'secondary '
                        }
                        else if (item.time == $('#id_booking_create_wizard_view-current_step').value){
                            time_slots_html += 'primary text-white '
                        }
                        else{
                            time_slots_html += 'light '
                        }
                        time_slots_html += '">' + item.time + '</p>'                    
                    });
                }
                else {
                    time_slots_html = '<div class="alert alert-warning" role="alert">' + 
                                      '{% translate "No available time slots for the selected date. Please choose another date." %}' +
                                      '</div>'
                }

                document.querySelector("#time-list").innerHTML = time_slots_html;   
                document.querySelectorAll("#time-list .bg-light, #time-list .bg-primary").forEach(timeBtn => {
                    timeBtn.addEventListener("click", timeBtnClicked.bind(this, timeBtn))
                }) 
                console.log(time_slots_html)            
            });
        });

    $(document).ready(function() {
        {% if wizard.steps.current == "DateTime" and not get_available_time%}
            $('#next-step').prop('disabled', true)
        {% endif %}

        {% if wizard.steps.current == "Worker"%}
            if ($('#id_Worker-workers option').length === 0) {
                $('#next-step').prop('disabled', true)
            }
        {% endif %}

        {% if wizard.steps.current == "Event"%}
            if ($('#id_Event-events option').length === 0) {
                $('#next-step').prop('disabled', true)
            }
        {% endif %}


    });

</script>
{% endblock extra_script %}
