{% extends 'base2.html' %}

{% block extra_css %}
    <style>
        .field-name {
            background-color: rgb(237, 240, 241) !important;
            width: 25%; /* Adjust the width as needed */
        }
        .table {
            table-layout: fixed; /* Helps ensure the column width is respected */
        }
        .table td, .table th {
            word-wrap: break-word; /* Ensure content fits within the cell */
        }
        .modal-backdrop {
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
        }
        #spinnerModal .modal-content {
            width: 100  vw; /* Cover the viewport width */
            height: 100vh; /* Cover the viewport height */
        }
    </style>
{% endblock extra_css %}

{% block content %}
<div class="rc-card">
    <div class="container mt-5">
        <h2>Appointment Details</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td class="field-name">Date</td>
                    <td>{{ appointment.date }}</td>
                </tr>
                <tr>
                    <td class="field-name">Time</td>
                    <td>{{ appointment.time }}</td>
                </tr>
                <tr>
                    <td class="field-name">Location</td>
                    <td>{{ appointment.location }}</td>
                </tr>
                <tr>
                    <td class="field-name">Status</td>
                    <td id="appointmentStatus">{{ appointment.status }}</td>
                </tr>
                <tr>
                    <td class="field-name">Worker</td>
                    <td>{{ appointment.worker.user.first_name }} {{ appointment.worker.user.last_name }}</td>
                </tr>
                <tr>
                    <td class="field-name">Event</td>
                    <td>{{ appointment.event.name }}</td>
                </tr>
                <tr>
                    <td class="field-name">Invitees</td>
                    <td>
                        <ul>
                            {% for invitee in appointment.invitees.all %}
                                <li>{{ invitee.name }}</li> 
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        {% if show_cancel_button %}
            <button id="cancelButton" class="btn btn-danger mt-3" {% if appointment.status == 'CANCELLED' %} disabled {%endif%}>Cancel Appointment</button>
        
            <!-- Modal Definition -->
            <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cancelModalLabel">Cancel Appointment</h5>
                        </div>
                        <div class="modal-body">
                            <form id="cancelForm">
                                <div class="form-group">
                                    <label for="cancelReason">Reason for cancellation:</label>
                                    <textarea id="cancelReason" class="form-control" required></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="close-button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="confirmCancel">Confirm Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="spinnerModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered justify-content-center" style="min-height:100vh;">
                    <div class="modal-content" style="background-color: transparent; border: none; box-shadow: none;">
                        <div class="modal-body d-flex align-items-center justify-content-center">
                            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                  
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    function showSpinner() {
        $('#spinnerModal').modal({
            backdrop: 'static', // Disable clicking on the backdrop to close
            keyboard: false // Disable using the keyboard to close
        }).modal('show'); 
    }

    // Hide the spinner modal
    function hideSpinner() {
        $('#spinnerModal').modal('hide');
    }

    $(document).ready(function() {

        $('#close-button').click(function() {
            $('#cancelModal').modal('hide'); 
        });

        $('#cancelButton').click(function() {
            if (!$(this).prop('disabled')) {
                $('#cancelModal').modal('show');
            }
        });

        // Handle form submission within the modal
        $('#cancelForm').submit(function(event) {
            event.preventDefault();
            var cancelReason = $('#cancelReason').val().trim();

            if (cancelReason === "") {
                alert("Please provide a reason for cancellation.");
                return;
            }

            showSpinner();

            // Post cancellation with reason
            $.post('{% url "appointment_cancel" appointment.id %}', {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                appointment_id: '{{ appointment.id }}',
                reason: cancelReason  // Pass the cancellation reason to the server
            }).done(function(response) {
                $('#cancelModal').modal('hide');
                alert(response.message);
                $('#cancelButton').prop('disabled', true);
                $('#appointmentStatus').text('CANCELLED');
            }).fail(function(xhr) {
                alert('Error: ' + xhr.responseText);
            }).always(function() {
                // Hide the spinner once the request is complete
                hideSpinner()
            });
        });
    });
    </script>
{% endblock extra_script %}
