.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(250, 250, 250);
    text-align: center;
    width: 100%;
}

/* Ensure the main content area is pushed down by the header */
.main {
    padding-top: 60px; /* Height of the header bar plus some extra space */
}

/* Add custom styles for the "Who We Are" section here */
.who-we-are {
    white-space: pre-line; /* This CSS property will preserve line breaks */    
}

.section-header {
    text-align: center; /* Centers the header text */
    margin-bottom: 15px;    
}

.section-header h2 {
    font-size: 45px;
}

.section-home {
    margin-top:15px;
    margin-bottom: 15px;
}

.photo-thumbnail {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .photo-row {
    margin-bottom: 20px;
  }

