body, html {
    height: 100%;
    margin: 0;
}
.header-bar {
    color: white;
    padding: 20px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 998; /* Lower than sidebar toggle but above other content */
    top: 0;
}
.sidebar {
    height: 100%;
    width: 0; /* Initial width for desktop */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 80px; /* Adjusted for header and toggle button */
    transition: 0.5s;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}

.main {
    transition: margin-left 0.5s;
    padding-top: 60px; /* Space for header bar */
    margin-left: 250px; /* Initial margin for desktop */
    margin-left: 0;
}
#sidebarCollapse {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 999;
    background: #111;
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

@media screen and (min-width: 992px) {
    .container-wide {
        width: 60%; /* Occupies 60% of the screen width */
        margin: 0 auto; /* Centers the container */
        position: relative; /* Relative positioning for children */
    }
    .header-bar {
        position: relative;
    }
}

.social-icon {
    width: 30px;
    height: 30px;
}

.card-text-height {
    height: 100px; /* Set your desired height */
}

.card-text-font{
    font-size: 15px;
}

.section-header {
    text-align: center; /* Centers the header text */
    margin-bottom: 15px;    
}

.section-header h2 {
    font-size: 45px;
}
