{% extends 'base2.html' %}

{% block extra_css %}
<style>
    .card {
        width: 400px;
        height: auto;
        border-radius: 8px;
        background-image: linear-gradient(to bottom right, #dde6e4, #b7d6b4);
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: black;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .error-message {
        color: red;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .sidebar .btn-schedule {
        width: 60%;
        margin-left: 10px;
        margin-top: 15px;
    }
</style>
{% endblock extra_css %}

{% block content %}
<nav aria-label="breadcrumb" class="mobile-margin-top">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Manage Appointments</li>
    </ol>
</nav>

<div class="rc-card">
    <h1>Search Appointments</h1>
    <form method="get" action="{% url 'user_search_appointments' %}">
        <div class="mb-3 col-6">
            <label for="id_start_date" class="form-label">Start Date</label>
            {{ form.start_date }}
        </div>
        <div class="mb-3 col-6">
            <label for="id_end_date" class="form-label">End Date</label>
            {{ form.end_date }}
        </div>
        <div class="mb-3 col-6">
            <label for="id_user" class="form-label">User</label>
            {{ form.user }}
        </div>
        <button type="submit" class="btn btn-primary" id="searchButton" disabled>Search</button>
    </form>
    {% if error_message %}
        <div class="error-message">{{ error_message }}</div>
    {% endif %}
</div>

    <div class="rc-card">
        <h1>Appointments</h1>
        <div class="accordion" id="userAppointments">
            {% if appointments %}
                {% for date, appt_list in appointments.items %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ date|date:'d-m-y' }}-{{ forloop.counter }}" aria-expanded="true" aria-controls="{{ date|date:'d-m-y' }}-{{ forloop.counter }}">
                                {{ date }}
                            </button>
                        </h2>
                        <div id="{{ date|date:'d-m-y' }}-{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.counter == 1 %} show {% endif %}" data-bs-parent="#userAppointments">
                            <div class="accordion-body">
                                {% for appt in appt_list %}
                                    <div class="d-flex justify-content-between align-items-center border-bottom pb-2 pt-2">
                                        <span class="badge bg-secondary">{{ appt.time }}</span>
                                        <span>{{ appt.event.name }}</span>
                                        <span class="badge bg-secondary">{{ appt.event.account.name }}</span>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton{{ forloop.parentloop.counter }}-{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"></path>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                                                <li><a class="dropdown-item" href="{% url 'appointment_cancel' appt.id %}">Cancel Appointment</a></li>
                                                <li><a class="dropdown-item" href="{% url 'appointment_detail' appt.id %}">View Details</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% elif not initial_load %}
                <p>No appointments found</p>
            {% endif %}
        </div>
    </div>

{% endblock content %}

{% block extra_script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const startDateInput = document.getElementById('id_start_date');
        const endDateInput = document.getElementById('id_end_date');
        const userInput = document.getElementById('id_user');
        const searchButton = document.getElementById('searchButton');

        function toggleSearchButton() {
            const startDate = startDateInput.value;
            const endDate = endDateInput.value;
            const user = userInput.value;
            searchButton.disabled = !(startDate && endDate && user);
        }

        startDateInput.addEventListener('input', toggleSearchButton);
        endDateInput.addEventListener('input', toggleSearchButton);
        userInput.addEventListener('input', toggleSearchButton);

        toggleSearchButton(); // Initial call to set button state
    });
</script>
{% endblock extra_script %}
