{% extends 'base2.html' %}

{% block extra_css %}
<style>
    .photo-thumbnail {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      margin-bottom: 15px;
    }
    .photo-row {
      margin-bottom: 20px;
    }
    .photo-container {
      border: 2px solid #ccc;
      border-radius: 15px;
      overflow: hidden;
    }
</style>
{% endblock extra_css %}
{% block content %}
    <h2>{{custom_user.user.first_name}} {{custom_user.user.last_name}}</h2>    

    <div class="rc-card card">
        <div class="container mt-5">
            <!-- Profile Picture and Change Button -->
            <div class="row align-items-center mb-3">
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="rounded-circle overflow-hidden" style="width: 100px; height: 100px;">
                        <img src="{{ custom_user.profile_image.url|default:'/media/user_profile/placeholder.jpg' }}" id="profilePicture" class="img-fluid" alt="Profile Picture">
                    </div>
                </div>
                <div class="col-6 col-md-8 col-lg-9">
                    <label for="profileImageInput" class="btn btn-primary w-100">
                        Change
                        <input type="file" id="profileImageInput" class="d-none" accept="image/jpeg, image/png">
                    </label>
                </div>
            </div>
            <!-- Presentation Textarea -->
            <div class="mb-3">
                <label for="presentationTextarea" class="form-label">Presentation</label>
                <textarea class="form-control" id="presentationTextarea" rows="3" maxlength="150">{{ custom_user.presentation }}</textarea>
            </div>
            <!-- Experience Textarea -->
            <div class="mb-3">
                <label for="experienceTextarea" class="form-label">Experience</label>
                <textarea class="form-control" id="experienceTextarea" rows="10" maxlength="2000">{{ custom_user.experience }}</textarea>
            </div>
            <!-- Save and Cancel Buttons -->
            <div class="row">
                <div class="col-md-6 mb-2">
                    <button type="button" id="saveButton" class="btn btn-primary w-100">Save</button>
                </div>
                <div class="col-md-6">
                    <button type="button" id="cancelButton" class="btn btn-secondary w-100">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h2>Show Your Work</h2>
        <button id="add-photo" class="btn btn-success">Add</button>
        <input type="file" id="photo-upload" accept=".jpg, .jpeg, .png" style="display: none;">
        <button id="delete-photo" class="btn btn-danger" disabled>Delete Selected</button>
        <div class="row photo-row">
            {% for image in custom_user.photos.all|slice:":9" %}
            <div class="col-md-4 mt-4">
                <div class="photo-container p-2">
                    <input type="checkbox" class="photo-select" data-image-id="{{ image.id }}">
                    <img src="{{ image.image.url }}" class="photo-thumbnail">
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="btn btn-primary" id="load-more">Load More</button>
    </div>

    <!-- Bootstrap Modal for Confirmation of photo deletion -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Deletion</h5>
            </div>
            <div class="modal-body">
            Delete selected?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="cancel-delete" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" id="confirm-delete">Confirm</button>
            </div>
        </div>
        </div>
    </div>
    
    <!-- Bootstrap Modal for Image Viewing -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="imageModalLabel">Full Screen Image</h5>
            </div>
            <div class="modal-body text-center">
            <img id="modal-image" src="" class="img-fluid">
            </div>
        </div>
        </div>
    </div>

{% endblock content %}

{% block extra_script %}
<script>
    $(document).ready(function() {

        var currentCount = 9;

        {% if custom_user.photos.all.count < 10 %}
            $('#load-more').hide();
        {% endif %}

        $('#add-photo').click(function() {
            $('#photo-upload').click();
        });

        $('#photo-upload').change(function(event) {
            var formData = new FormData();
            formData.append('image', event.target.files[0]);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            $.ajax({
                url: '{% url "upload_custom_user_photo" custom_user.id %}',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.success) {
                        var newPhotoHtml = '<div class="col-md-4 mt-4">' +
                                        '<div class="photo-container p-2">' +
                                        '<input type="checkbox" class="photo-select" data-image-id="' + response.image_id + '">' +
                                        '<img src="' + response.url + '" class="photo-thumbnail">' +
                                        '</div></div>';
                        $('.photo-row').prepend(newPhotoHtml);
                    } else {
                        alert('Upload failed. Please try again.');
                    }
                },
                error: function() {
                    alert('Server error, please try again later.');
                }
            });
        });

        $(document).on('click', '.photo-thumbnail', function() {
            var src = $(this).attr('src'); // Get the source from the clicked image
            $('#modal-image').attr('src', src); // Set the source in the modal image
            $('#imageModal').modal('show'); // Display the modal
        });
        // Using event delegation for dynamically added checkboxes
        $(document).on('change', '.photo-select', function() {
            const selectedPhotos = $('.photo-select:checked').length;
            $('#delete-photo').prop('disabled', selectedPhotos === 0);
        });

        $('#delete-photo').click(function() {
            $('#confirmDeleteModal').modal('show');
        });
        
        $('#cancel-delete').click(function() {
            $('#confirmDeleteModal').modal('hide');
        })
        $('#confirm-delete').click(function() {
            $('#confirmDeleteModal').modal('hide');
            var selectedIds = $('.photo-select:checked').map(function() {
                return $(this).data('image-id');
            }).get();

            $.ajax({
                url: '{% url "delete_custom_user_photos" %}', 
                type: 'POST',
                data: {
                    'image_ids': JSON.stringify(selectedIds),
                    'custom_user_id': {{custom_user.id}},
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if(response.success) {
                        $('.photo-select:checked').each(function() {
                            $(this).closest('.col-md-4').fadeOut();
                        });
                        alert('Photos deleted successfully.');
                    } else {
                        alert('Error deleting photos.');
                    }
                },
                error: function() {
                    alert('Server error, please try again later.');
                }
            });
        });

        $('#load-more').click(function() {
            $.ajax({
                url: "{% url 'load_more_custom_user_images' custom_user.id %}?count=" + currentCount,
                type: 'GET',
                success: function(response) {
                    if (response.data.length > 0) {
                        response.data.forEach(function(image) {
                            var photoHtml = '<div class="col-md-4 mt-4">' +
                                            '<div class="photo-container p-2">' +
                                            '<input type="checkbox" class="photo-select" data-image-id="' + image.id + '">' +
                                            '<img src="' + image.url + '" class="photo-thumbnail">' +
                                            '</div></div>';
                            $('.photo-row').append(photoHtml);
                        });

                        currentCount += response.data.length;
                        if (response.data.length < 9){
                            $('#load-more').hide(); // Hide button if no more images are available
                        }
                    } else {
                        $('#load-more').hide();
                    }
                },
                error: function() {
                    alert('Server error, please try again later.');
                }
            });
        });
        // Show new profile picture after the user selects a new one
        $('#profileImageInput').change(function() {
            var input = this;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#profilePicture').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        });

        // Save button click event
        $('#saveButton').click(function() {

            var formData = new FormData();
            formData.append('presentation', $('#presentationTextarea').val());
            formData.append('experience', $('#experienceTextarea').val());

            // Check if a new image is selected
            var profileImageInput = document.getElementById('profileImageInput');
            if (profileImageInput.files.length > 0) {
                // Append the new profile image to FormData
                formData.append('profile_image', profileImageInput.files[0]);
            }

            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}'); 

            $.ajax({
                url: '{% url "user_profile" user.id %}',
                type: 'POST',
                data: formData,
                processData: false,  // Important: tells jQuery not to process the data
                contentType: false,  // Important: tells jQuery not to set contentType
                success: function(response) {
                    console.log('Business UI details updated successfully');
                },
                error: function(xhr, status, error) {
                    console.error('Error updating profile details:', error);
                }
            });
        });

        // Cancel button click event (optional)
        $('#cancelButton').click(function() {
            // Reload the page without saving
            location.reload();
        });
    });

</script>
{% endblock extra_script %}